@charset "UTF-8";

@media screen and (min-width: 992px) {
    
    header {

        height: 25vh;

    }

    menu > h1 {

        padding-top: 5vh;
        font-size: 2em;
    
    }
    

    main {

        width: 40vw;
        font-size: 1.2em;

    }

}