@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


* {

    font-family: 'Roboto', sans-serif;

    padding: 0px;
    margin: 0px;

}

menu {

    width: 100vw;
    height: 30vh;

    /*background-image: linear-gradient(180deg, rgb(31, 21, 168) 0%, rgb(36, 74, 180) 35%, rgba(2,113,215,1) 100%);*/
    background-image: linear-gradient(180deg, rgb(28, 28, 56) 0%, rgb(18, 18, 41) 35%, rgb(16, 16, 41) 100%);

    color: white;
    text-align: center;

}

menu > h1 {

    padding-top: 10vh;
    font-size: 2em;

}

menu > h2 {

    padding-top: 1vh;

}

nav {

    margin-top: 5vh;

}

nav > a {

    padding: 0px 25px;

    background-color: rgba(0, 0, 0, 0);
    color: rgb(226, 226, 226);
    border-radius: 4px;

    text-decoration: underline;

}

nav > a:hover {

    color: orange;
    font-weight: bold;
    background-color: rgb(18, 24, 54);
    text-decoration: none;
    border: 2px solid;

    transition-duration: 0.1s;

    /*transform:  scale(-10px, -3.5px);
    transition: transform 0.3s;*/

}

main {

    width: 70vw;

    margin: auto;
    margin-top: 30px;
    
    background-color: rgb(20, 17, 58);
    color: white;

}

main > section {

    padding: 10px;
    text-align: justify;
    text-indent: 10px;
    line-height: 30px;

}

main h2 {

    margin: 20px

}

main strong {

    color: orange;

}